.socialLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .socialLogin-button2 {
    background-color: #3b5998;
  }
  .socialLogin-button {
    background-color: #353b48;
    margin-bottom: 3px;
  }
  a {
    width: 50%;
    button {
      width: 100%;
      text-align: left;
      height: 40px;
      font-size: 1rem;
      padding-left: 20px;
      border: 0;
      color: white;
    }
  }
}
