<div class="videoblock">
  <iframe
    src="<%=video.videoFile%>"
    width="300"
    height="230"
    frameborder="0"
  ></iframe>
  <h4><%=video.title%></h4>
  <h6>views: <%=video.views%></h6>
</div>
