<div class="socialLogin">
  <button class="socialLogin-button">
    <i class="fab fa-github"></i> Continue with Github
  </button>
  <button class="socialLogin-button">
    <i class="fab fa-facebook"></i> Continue with facebook
  </button>
</div>
