<div class="socialLogin">
  <a href="/auth/github">
    <button class="socialLogin-button">
      <i class="fab fa-github"></i> Continue with Github
    </button>
  </a>
  <a href="<%=routes.facebook%>">
    <button class="socialLogin-button2">
      <i class="fab fa-facebook"></i> Continue with facebook
    </button>
  </a>
</div>
