html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

html,
body {
  height: 100%; }

body {
  background-color: white;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  min-height: 70vh; }

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh; }

.header {
  margin-bottom: 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .header .header__column1 {
    width: 20%; }
    .header .header__column1 a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header .header__column1 i {
      margin-left: 50px;
      font-size: 30px;
      color: #e93f33; }
    .header .header__column1 span {
      margin-left: 4px;
      font-size: 1.3rem;
      font-weight: 500; }
  .header .header__column2 {
    width: 50%; }
    .header .header__column2 form input {
      width: 90%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 30px;
      padding-left: 8px;
      font-size: 1rem; }
  .header .header__column3 {
    text-align: right;
    padding-right: 40px;
    width: 30%; }
    .header .header__column3 a span {
      color: rgba(0, 0, 0, 0.5);
      margin-right: 5px;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      .header .header__column3 a span:hover {
        font-weight: 600; }

.footer {
  margin-top: 27px;
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .footer i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 7px; }
  .footer span {
    text-transform: uppercase; }
    .footer span a {
      color: #74b9ff; }

.socialLogin {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .socialLogin .socialLogin-button2 {
    background-color: #3b5998; }
  .socialLogin .socialLogin-button {
    background-color: #353b48;
    margin-bottom: 3px; }
  .socialLogin a {
    width: 50%; }
    .socialLogin a button {
      width: 100%;
      text-align: left;
      height: 40px;
      font-size: 1rem;
      padding-left: 20px;
      border: 0;
      color: white; }

.videoblock {
  margin-bottom: 110px; }
  .videoblock video {
    width: 251px;
    height: 161px; }

.join__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh; }
  .join__container form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .join__container form input {
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      .join__container form input:not(:last-child) {
        margin-bottom: 10px;
        padding-left: 14px; }
      .join__container form input:last-child {
        border: 0;
        background-color: red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        margin-bottom: 45px; }

.login__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh; }
  .login__container form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .login__container form input {
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      .login__container form input:not(:last-child) {
        margin-bottom: 10px;
        padding-left: 14px; }
      .login__container form input:last-child {
        border: 0;
        background-color: red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        margin-bottom: 45px; }

.videoDetail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .videoDetail .description {
    width: 707px;
    color: black; }
    .videoDetail .description .title {
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 35px; }
    .videoDetail .description .views {
      font-size: 0.9rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 15px; }
    .videoDetail .description .button-container {
      text-align: right; }
      .videoDetail .description .button-container .button {
        width: 127px;
        height: 35px;
        background-color: red;
        color: white;
        border: 0;
        font-size: 1rem;
        font-weight: 100;
        margin-bottom: 7px; }
    .videoDetail .description .description-container {
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
      padding-bottom: 17px;
      padding-top: 17px;
      min-height: 133px;
      margin-bottom: 30px; }
    .videoDetail .description .videoDetail-comments-num {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 17px; }

.editVideo {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px; }
  .editVideo form {
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .editVideo form .title-input {
      width: 100%;
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 20px;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.03); }
    .editVideo form .description-textarea {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.03);
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 0;
      height: 92px;
      resize: none;
      margin-bottom: 20px; }
    .editVideo form .edit-video-button {
      padding: 10px;
      width: 100%;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      background-color: red;
      color: white;
      font-size: 1rem; }
  .editVideo .delete-video-button-container {
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    margin-top: 15px; }
    .editVideo .delete-video-button-container button {
      background-color: transparent;
      border: 0;
      font-size: 1rem;
      color: white; }

.EditProfile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px; }
  .EditProfile form {
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .EditProfile form .file-selector {
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
      margin-top: 7px;
      padding: 7px;
      -webkit-border-radius: 7px;
         -moz-border-radius: 7px;
              border-radius: 7px; }
    .EditProfile form .name-input {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.03);
      padding: 8px;
      font-size: 1rem;
      margin-top: 20px;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px; }
    .EditProfile form .update-button {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      background-color: red;
      color: white;
      font-size: 1rem;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px; }
  .EditProfile .change-password-button {
    width: 400px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #3498db;
    margin-top: 20px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px; }

.home-videos-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1000px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.home-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
