<div class="header">
  <div class="header__left">
    <a href=<%=routes.home%>> <i class="fab fa-youtube"></i> </a>
  </div>
  <div class="header__right">
    <a href=<%=routes.join%> ><span class="header__right__span">Join</span></a>
    <a href=<%=routes.login%> ><span class="header__right__span">Login</span></a>
  </div>
</div>
