<div class="header">
  <div class="header__column1">
    <a href="/"> <i class="fab fa-youtube"></i> <span>ATube</span> </a>
  </div>
  <div class="header__column2">
    <form action="/search" method="GET">
      <input type="text" name="term" placeholder="Search" />
    </form>
  </div>
  <div class="header__column3">
    <% if(loggedInUser){ %>
    <a href="/video/upload"><span class="header__right__span">Upload</span></a>
    <a href="/user/<%=loggedInUser.id%>"
      ><span class="header__right__span">Profile</span></a
    >
    <a href="/logout"><span class="header__right__span">Logout</span></a
    ><% }else { %>

    <a href="/join"><span class="header__right__span">Join</span></a>
    <a href="/login"><span class="header__right__span">Login</span></a> <% } %>
  </div>
</div>
